.path{
  padding-bottom:10px;
}
ul {
    list-style: none;
    }
.Categories{
    padding: 0px 64px;
    min-height:70.5%;
    position:relative;
}
  /* Giao diện bên phải */
  .right-categories{
    float: right;
    width: 100%;
    background: #fff;
    margin-bottom: 15px;
  }
  .right-h1>h1{
    font-size: 32px;
  }
  .header-right{
    padding-left:15px;
    position: relative;
    border-bottom: solid 1px #e7e7e7;
  }

.right-prt{
  padding-top: 15px;
}
.right-prt-li{
  width: 25%;
  margin-bottom: 6px;
  height: 580px;
  padding: 0;
  display: block;
  float: left;
  position: relative;
  border-bottom: none;
  transition: all .3s ease 0s;
}
.right-prt-li:hover{
  box-shadow:1px 1px 10px 1px #888888;
}
.img-phone{
  padding-left: 23px;
  max-width: 100%;
  text-align: center;
  display: block;
}
.sort-text{
  color: #4a4a4a;
}
.prt-if-name{
  position: relative;
  margin-bottom: 10px;
  padding-left: 35px;
}
.prt-if-name>h4{
  font-size: 15px;
  font-weight: normal;
  line-height: 1.36;
  color: #383838;
  max-height: 40px;
  overflow: hidden;
  margin-bottom: 5px;
}
.prt-if-price{
  font-size: 16px;
  font-weight: bold;
  color: #383838;
  display: inline;
}
.rating-categorie{
  margin-top: -7px;
}
.categorie{
  color: #ccc;
}
.prt-if-content{
  font-size: 13px;
  margin-left: -41px;
}

.prt-if-content ul li label{
  width: 90%;
  height: 17px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
  color: #7e7e7e;
}

@media only screen and (min-width:1400px) and (max-width:1440px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 64px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      font-size: 32px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 580px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:1325px) and (max-width:1399px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 40px;
      min-height:70.5%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 32px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 480px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:1235px) and (max-width:1324px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 40px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 32px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 480px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:1125px) and (max-width:1234px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 34px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 30px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 480px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    color: #7e7e7e;
  }
}
@media only screen and (min-width:1085px) and (max-width:1124px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 35px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 30px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 480px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:1025px) and (max-width:1084px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 15px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 30px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 480px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    color: #7e7e7e;
  }
}
@media only screen and (min-width:980px) and (max-width:1024px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 15px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 30px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 480px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    color: #7e7e7e;
  }
}
@media only screen and (min-width:920px) and (max-width:979px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 15px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 30px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 380px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 13px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:890px) and (max-width:919px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 10px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 30px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 380px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 13px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}
@media only screen and (min-width:858px) and (max-width:889px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 10px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 20px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 380px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 13px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}
@media only screen and (min-width:820px) and (max-width:857px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 10px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 20px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 380px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 13px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:768px) and (max-width:819px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 10px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 20px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 380px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 13px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:720px) and (max-width:767px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 10px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 20px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 380px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 13px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:668px) and (max-width:719px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 10px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 20px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 6px;
    height: 380px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 13px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 13px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    font-size: 12px;
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
   
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}

@media only screen and (min-width:600px) and (max-width:667px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 10px;
      min-height:100%;
      position:relative;
  }
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      padding-left: 40px;
      font-size: 18px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
   
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 3px;
    height: 200px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 10px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 10px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    font-size: 9px;
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    display: none;
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    display: none;
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}
@media only screen and (min-width:550px) and (max-width:599px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
  .Categories{
      padding: 0px 10px;
      min-height:100%;
      position:relative;
  }
 
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      font-weight: bold;
      font-size: 15px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
   
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 3px;
    height: 198px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 10px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 10px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    font-size: 6px;
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    display: none;
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}
@media only screen and (min-width:500px) and (max-width:549px){
  .path{
    padding-bottom:10px;
  }
  ul {
      list-style: none;
      }
 
    /* Giao diện bên phải */
    .right-categories{
      float: right;
      width: 100%;
      background: #fff;
      margin-bottom: 15px;
    }
    .right-h1>h1{
      font-weight: bold;
      font-size: 15px;
    }
    .header-right{
      padding-left:15px;
      position: relative;
      border-bottom: solid 1px #e7e7e7;
    }
  
   
  .right-prt{
    padding-top: 15px;
  }
  .right-prt-li{
    width: 25%;
    margin-bottom: 3px;
    height: 198px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    border-bottom: none;
    transition: all .3s ease 0s;
  }
  .right-prt-li:hover{
    box-shadow:1px 1px 10px 1px #888888;
  }
  .img-phone{
    padding-left: 23px;
    max-width: 100%;
    text-align: center;
    display: block;
  }
  .sort-text{
    color: #4a4a4a;
  }
  .prt-if-name{
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .prt-if-name>h4{
    font-size: 7px;
    font-weight: normal;
    line-height: 1.36;
    color: #383838;
    max-height: 70px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .prt-if-price{
    font-size: 7px;
    font-weight: bold;
    color: #383838;
    display: inline;
  }
  .rating-categorie{
    font-size: 6px;
    margin-top: -7px;
  }
  .categorie{
    color: #ccc;
  }
  .prt-if-content{
    display: none;
    font-size: 13px;
    margin-left: -41px;
  }
  .prt-if-content ul li label{
    width: 90%;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    font-weight: bold;
    color: #7e7e7e;
  }
}



